@import url('https://fonts.cdnfonts.com/css/geomanist');

* {
  margin: none;
  padding: none;
  font-family: 'Geomanist', sans-serif;
}

/* containers */
.mainApp {
  background-color: $lightest;
  padding: 20px;
}
.stretchCont {
  margin-bottom: 5px;
}
.appHeaderBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardHeadBox {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}
.mainHeader {
  font-size: 30px;
  color: $darker;
}
/* dropdown menu */
.muscle,
.difficulty {
  background-color: $light;
  color: $darker;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}

.stretchCard {
  background-color: $lighter;
  color: $darker;
  border-radius: 10px;
}
.cardHeader {
  margin-left: 5px;
  padding-top: 10px;
}
.favIcon {
  margin-left: 20px;
}
ul {
  list-style-type: none;
  margin-right: 5px;
}
li {
  margin-bottom: 5px;
}
li:last-child {
  padding-bottom: 10px;
}

/* buttons */
.logoutBtn {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-height: 40px;
}
.favBtn {
  background-color: $light;
  color: $darker;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}
#overlay {
  transition: opacity 1s linear;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
  opacity: 1;
}
