@import url('https://fonts.cdnfonts.com/css/geomanist');
* {
  margin: none;
  padding: none;
}

/* containers */
.mainApp {
  background-image: linear-gradient(to bottom right, #9b5668, #ce95a3);
  font-family: 'Geomanist', sans-serif;
  padding: 20px;
}
.stretchCont {
  border: 2px solid #000;
}
/* dropdown menu */
.muscle,
.difficulty {
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.stretchCard {
  background-color: #6b68e7;
  color: #fff;
  border: 2px solid #fff;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
  cursor: pointer;
}
/* 
#6b68e7
#d1b1f9
#79403a
#c5a992
#9b5668
#ce95a3
*/
